/**
 * Tailwind styles
 */



@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  @font-face {
    font-family: 'Inter Hewn Bold';
    font-display: auto;
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/sans/Inter-Hewn-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-display: auto;
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-optical-sizing: auto;
    src: url('/assets/fonts/sans/Inter.woff2') format('woff2');
  }

  html {
    font-size: 12px;
  }

  the-app { @apply block; }
  /* the-controls {} */
  /* 
  NB: styles are declared in index.html 
  the-source { @apply invisible h-0 w-0 overflow-hidden; } 
  */
  the-preview { @apply block font-doc-sans font-light leading-relaxed; }

  /* AQRBill start: */
  @font-face {
    font-family: LiberationSans;
    src: url('/assets/fonts/sans/LiberationSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: LiberationSans;
    src: url('/assets/fonts/sans/LiberationSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
  }

  a-qr-bill {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  /* :end AQRBill */

}



/*
@layer components {}
*/


@layer utilities {

  .page-ornament-top {
    page: ornamentTop;
  }

  .page-ornament-bottom {
    page: ornamentBottom;
  }

  .page-payment-methods {
    page: paymentMethods;
  }

  .break-before-page {
    break-before: page
  }

  .break-after-page {
    break-after: page
  }

  .break-inside-avoid {
    break-inside: avoid;
  }

  .oblique {
    font-variation-settings: 'slnt' -10;
  }

  .mx-pagedjs {
    margin-left: 20mm;
    margin-right: 20mm;
  }

}






/**
 * Print styles 
 * 
 * NB: These styles do not work well in tw layer directives while developing:
 * `element` and `running declarations are sometimes lost when other modules change.
 */



@page {

  size: A4;
  margin: 31.6mm 20mm;

  background-image: 
    url("/assets/img/page-ornament-top.svg"),
    url("/assets/img/page-ornament-bottom.svg");
  background-position: 
    top left,
    bottom left;
  background-size: 
    100% var(--pagedjs-margin-top),
    100% var(--pagedjs-margin-bottom);
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  -webkit-print-color-adjust: exact;
  color-adjust: exact;

  @top-left-corner { content: element(topLeftCorner) }
  @top-left { content: element(topLeft) }

  /*
  @top-center {}
  @top-right {}
  @top-right-corner {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {}
  @bottom-left-corner {}
  @bottom-left {}
  @bottom-center {}
  @bottom-right {}
  @bottom-right-corner {} 
  */

}


@page ornamentTop {
  background-image: url("/assets/img/page-ornament-top.svg");
  background-position: top left;
  background-size: 100% var(--pagedjs-margin-top);
}



@page ornamentBottom {
  background-image: url("/assets/img/page-ornament-bottom.svg");
  background-position: bottom left;
  background-size: 100% var(--pagedjs-margin-bottom);
}



@page paymentMethods {
  position: relative;
  margin: 31.6mm 0 0;
  background-image: 
    url("/assets/img/page-ornament-top.svg"),
    url("/assets/img/page-ornament-bottom.svg");
  background-position:
    top left,
    bottom 105mm left;
  background-size: 
    100% var(--pagedjs-margin-top),
    100% var(--pagedjs-margin-top); /* NB: bottom margin is 0 */
}



.top-left-corner { position: running(topLeftCorner) }
.top-left { position: running(topLeft) }
